body
{
   color: #000000 ; 
   background-color: #FFFFFF;
}


.logo1
{
	width : 150px;
	height : auto;
	position : fixed;
	top : 0%;
	left : 0%;
	z-index: 101;
	
}
.logo2
{
	width : 150px;
	height : auto;
	position : fixed;
	top : 0%;
	right : 0%;
	z-index: 101;
}
.titre
{
	color:#FFFFFF ;
	font-family: Baskerville Old Face;
	font-size: 200%;
	text-decoration : underline;
	position : fixed;
	top : 5%;
	left : 50%;
	transform: translate(-50%, 0%);
	z-index: 10;
}

.accueil
{
	color:#FFFFFF ; 
	font-size: 120%;
	position : fixed;
	top : 120px;
	left : 15%;
}
.muscu
{
	color:#FFFFFF ; 
	font-size: 120%;
	position : fixed;
	top : 120px;
	left : 35%;
}
.course
{
	color:#FFFFFF ; 
	font-size: 120%;
	position : fixed;
	top : 120px;
	left : 55%;
}
.challenge
{
	color:#FFFFFF ; 
	font-size: 120%;
	position : fixed;
	top : 120px;
	left : 75%;
	z-index: 48;
}
.bandeau
{
	background:#1456FC ; 
	font-family : Bodoni MT Condensed;
	padding: 2%;
	position : fixed;
	top : 85px;
	left : 150px;
	right : 150px;
	z-index: 10;
}
.fond_bandeau
{
	background : #1456FC;
	padding: 80px;
	position: fixed;
	top : -3%;
	left : 0%;
	width: 100%;
	height: auto;
	z-index: 10;
}





.debut
{
	font-family: Arial;
	font-size: 20px
}


.paragraphe
{
 background-color:#1456fc ;
 color : white;
 font-family : Bodoni MT Condensed;
 font-size : 20px;
 border: thick double white;
 border-radius: 30px;
 padding: 20px; 
 margin: 50px;
 width: 50%;
}



h2
{
	font-family: Arial Rounded MT Bold;
}




.logo_reseaux
{
	width : 20px;
	height : 20px;
	position: relative;
	bottom : -5px;
	z-index: 30;
}

.contact
{
	background:#989898 ; 
	font-family : Bodoni MT Condensed;
	padding: 5px;
	position : relative;
	bottom: -10px;
	text-align: center;
}

.programme
{
 background-color:#1456fc ;
 color : white;
 font-family : Bodoni MT Condensed;
 font-size : 20px;
 border: thick double white;
 border-radius: 30px;
 padding: 20px; 
 margin: 50px;
 width: 50%;
}
